.header {
  background-color: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 3px 3px 0 0;
  height: 4.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}